<main class="max-w-md mx-auto p-4 sm:px-6 lg:px-8">
  <component name="input-text-invalid" props="text;title;Title;;" />
  <component
    name="input-text"
    props="text;description;Description;Describe your bucket item...;Optional"
  />
  <component name="input-select" props="bucket;Bucket;" />
  <component name="input-text" props="date;date-to-accomplish;Date to accomplish;;Optional" />
  <div class="flex gap-x-3">
    <component name="button" props="Cancel;index" />
    <component name="button-primary" props="Create;index" />
  </div>
</main>
