<div class="max-w-sm mb-8 last:mb-0">
  <div class="flex justify-between">
    <label for="{{$0}}" class="block text-sm font-medium text-slate-700"
      >{{$1}}</label
    >
    <span class="text-sm text-slate-500" id="{{$0}}-optional">{{$2}}</span>
  </div>
  <div class="mt-1" id="{{$0}}-error-parent">
    <div class="flex justify-center">
      <div class="mb-2 w-96">
        <input
          id="{{$0}}"
          name="{{$0}}"
          class="form-control block w-full px-2 py-1 text-sm font-normal text-slate-700 bg-white bg-clip-padding border border-solid border-slate-300 transition ease-in-out m-0 focus:bg-white focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
          type="file"
          accept="image/png, image/jpeg"
        />
      </div>
    </div>
  </div>
  <p class="text-sm text-slate-600">{{$3}}</p>
</div>
