<a
  href="{{$0}}.html"
  class="
    group
    relative
    text-gray-500
    hover:text-gray-700
    inline-flex
    items-center
    px-1
    pt-1
    text-sm
    font-medium
    transition
    ease-in-out
    duration-100
  "
>
  <div
    class="
      opacity-0
      group-hover:opacity-100
      absolute
      bottom-3
      left-1/2
      w-1
      h-1
      bg-gray-300
      transform
      -translate-x-1/2
      rounded-full
      transition-opacity
      ease-in-out
      duration-300
    "
  ></div>
  {{$1}}
</a>
