<nav
  class="fixed w-full bottom-0 sm:top-0 left-0 h-16 bg-white border-t sm:border-t-0 sm:border-b z-30"
>
  <div class="max-w-7xl mx-auto h-full px-4 sm:px-6 lg:px-8">
    <!-- desktop nav -->
    <div class="hidden relative sm:flex justify-between h-full">
      <div
        class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-between"
      >
        <div class="flex flex-shrink-0 items-center">
          <div class="font-bold text-xl text-slate-800">
            <a href="/dashboard" class="flex items-center gap-x-2"
              ><i
                id="bucket-logo"
                class="ti ti-bucket text-3xl text-teal-500 pb-1"
              ></i
              >Bucket</a
            >
          </div>
        </div>
        <div class="flex sm:space-x-8">
          <component name="nav-item{{$0}}" props="dashboard;Dashboard" />
          <component name="nav-item{{$1}}" props="timeline;Timeline" />
          <component name="nav-item{{$2}}" props="profile/edit;Profile" />
          <a
            href="/logout"
            class="text-slate-500 hover:text-slate-700 inline-flex items-center px-1 pt-1 text-sm font-medium"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-logout"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
              ></path>
              <path d="M7 12h14l-3 -3m0 6l3 -3"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <!-- mobile nav -->
    <div class="flex sm:hidden h-full flex-1 items-stretch justify-stretch">
      <a
        class="inline-flex flex-1 items-center justify-center {{$3}}"
        href="/dashboard"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-home-2"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
          <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
          <rect x="10" y="12" width="4" height="4"></rect>
        </svg>
      </a>
      <a
        class="inline-flex flex-1 items-center justify-center {{$4}}"
        href="/timeline"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-directions"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M9 5h10l2 2l-2 2h-10a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1"
          ></path>
          <path
            d="M13 13h-7l-2 2l2 2h7a1 1 0 0 0 1 -1v-2a1 1 0 0 0 -1 -1"
          ></path>
          <line x1="12" y1="22" x2="12" y2="17"></line>
          <line x1="12" y1="13" x2="12" y2="9"></line>
          <line x1="12" y1="5" x2="12" y2="3"></line>
        </svg>
      </a>
      <a
        class="inline-flex flex-1 items-center justify-center {{$5}}"
        href="/profile/edit"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-user"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="12" cy="7" r="4"></circle>
          <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
        </svg>
      </a>
    </div>
  </div>
</nav>
<component name="notifications" />
