<main class="max-w-5xl mx-auto p-4 sm:px-6 lg:px-8">
    <div class="border rounded-md sm:rounded-xl overflow-hidden border-blue-500 shadow-2xl grid sm:grid-cols-2 grid-cols-2
max-w-5xl mx-auto p-4 sm:px-6 lg:px-8">
        <div class="pt-4 text-sm sm:text-base">
            <img src="/static/Marathon.jpg">
        </div>
        <div class="p-4 sm:p-6">
            <div class="font-bold">bucketlist_user_123</div>
            <div class="pt-4 text-sm sm:text-base">
                <span class="font-normal">Bucketlist</span>
                <span class="ml-2 font-normal">User</span>
            </div>
            <div class="font-normal">20.20.2020</div>
            <div class="font-normal color-blue-500">male</div>
            <div class="font-normal">bucketlistuser@gmail.com</div>
            <div class="font-normal">sfhllfkj wfhflhfl fjrlfjerlih fjlgi g.</div>
        </div>
    </div>
</main>